.obrazCell{
    background-color: #288641;
    width: fit-content;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    float:left;
    height: 500px;
}

.obrazCell img{
    width: 300px;
    border: 2px solid black;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
}

.obrazCell .nrText{
    color: #414141;
    margin-top: 10px;
}

.obrazCell h2{
    margin-top: -20px;
}

.obrazCell .cena{
    text-align: end;
    font-weight: bold;
    font-size: 25px;
    color: #801313;
}

.obrazCell .obrazDiv{
    width: 100%;
}